<div class="admin-wrapper">

  <h2>Leaderboard</h2>

  <table>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Matches won</th>
      <th>Matches lost</th>
    </tr>
    <% status = {rank: 1, previous_won: 0 } %>
    <% @players.each_with_object status do |player, status| %>
      <% if player.won < status[:previous_won] %>
        <% status[:rank] = status[:rank] + 1 %>
      <% end %>
      <%  status[:previous_won] = player.won %>
      <tr>
        <td><%= status[:rank] %></td>
        <td><%= player.name %></td>
        <td><%= player.won %></td>
        <td><%= player.lost %></td>
      </tr>
    <% end %>
  </table>

  <%= will_paginate @players %>

</div>