<h2><%= @player.name %></h2>

<h3>Matches</h3>
<table id="player_matches">
  <tr>
    <th colspan="2">winners</th>
    <th colspan="2">losers</th>
    <th>score</th>
    <th>created at</th>
    <th>end at</th>
  </tr>
  <% @player.matches.recent.each do |match| %>
    <tr>
      <% match.winners.each do |winner| %>
        <td><%= winner.name %></td>
      <% end %>
      <% match.losers.each do |loser| %>
        <td><%= loser.name %></td>
      <% end %>
      <td><%= match.score %></td>
      <td><%= match.start_at %></td>
      <td><%= match.end_at %></td>
    </tr>
  <% end %>
</table>