<!DOCTYPE html><html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Biliarduino</title>
  <link href="/css/flipclock.css" media="all" rel="stylesheet" />
  <link href="/css/match.css" media="all" rel="stylesheet" />
  <script src="/js/jquery.js"></script>
  <script src="/js/flipclock.min.js"></script>
  <script src="/js/match.js"></script>
</head>
<body>
  <div id="menu_trigger"></div>
  <nav>
    <a href="/leaderboard">Leaderboard</a>
    <a href="/settings">Settings</a>
    <a href="/players">Players</a>
  </nav>
  <div id="match" data-start="<%= @match.start_at %>" data-end="<%= @match.end_at %>">
    <div data-clock="true" id="clock"></div>
    <div class="flexcontainer">
      <section id="set-1">
        <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
          <a class="hi-icon" href="#set-1" id="score_a"><%= @match.team_a_score %></a>
          <ul>
            <li class="player" id="player_1">@<%= @match.player_1_name %></li><li class="player" id="player_2">@<%= @match.player_2_name %></li>
          </ul>
        </div>
      </section>
      <section id="set-2"><div class="hi-icon-wrap hi-icon-effect-2 hi-icon-effect-2a">
        <a class="hi-icon" href="#set-2" id="score_b"><%= @match.team_b_score %></a>
        <ul>
          <li class="player" id="player_3">@<%= @match.player_3_name %></li><li class="player" id="player_4">@<%= @match.player_4_name %></li>
        </ul>
      </div>
    </section>
  </div>
</div>
<footer><p>&copy; <a href="https://www.mikamai.com"><img src="/images/mikamai.png" alt="Mikamai"> 2013</a></p></footer>
</body>
</html>